$theme-color : #FF9933;
$scondary-color : #FF9933;
$primary-color : #0d6efd;
$scondary-dark : #001D3F;
$form-placeholoder : #001D3F ;
$success-color: #0b9010;
$warning-color: #FF9933;
$error-color:#CB2222;